/** @format */

.body-page {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.body-background {
  background-image: url(../image/background.jpg);
  background-size: cover;
  height: 100%;
  overflow: auto;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
}
.header {
  padding-top: 34px;
  padding-bottom: 17px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-contacts {
  display: block;
  margin-top: 19px;
}

.logo-link {
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo-img {
  float: left;
  margin-right: 8px;
}

.logo-text {
  margin-top: 4px;
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.logo-link:hover {
  color: #f26522;
}
.logo-link .logo-img:nth-of-type(2) {
  display: none;
}
.logo-link:hover .logo-img:nth-of-type(1) {
  display: none;
}
.logo-link:hover .logo-img:nth-of-type(2) {
  display: inline;
}
.contacts {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}
.link-contacts {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.link-contacts:hover {
  color: #f26522;
}
.main {
  padding-bottom: 49px;
  text-align: center;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 62px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
.menu-item {
  position: relative;
}

.menu-img {
  width: 100%;
  border: 5px solid;
  border-image: linear-gradient(#fff, #000) 27 / 35px;
}
.menu-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.details {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
  background-color: #f26522;
  padding: 7px 16px 12px;
  position: absolute;
  bottom: 42px;
  min-width: 302px;
}
.detail-price {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 10px;
}
.price {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
}
.detail-view {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
}
.detail-view::after {
  content: "";
  background-image: url(../image/view.png);
  width: 7px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  margin-left: 16px;
  background-repeat: no-repeat;
}
.menu-item:hover .details {
  display: flex;
}
.menu-item:hover .menu-name {
  color: #f26522;
}
.switch {
  padding: 10px;
  background-color: #ffffff;
  color: #000;
  border-radius: 4px;
  border: none;
  font-size: 18px;
}
.switch:hover {
  background-color: #d8b3b3;
}

.footer {
  padding-bottom: 15px;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
