/** @format */

.container {
  display: flex;
  align-items: first baseline;
  gap: 30px;
  justify-content: center;
}

.img-wrapper {
  padding: 10px;
  margin: 40px auto;
  width: 450px;
  height: 450px;
  border: 2px solid grey;
}

.img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  display: none;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgb(141, 221, 221);
  border-radius: 4px;
  margin-right: 10px;
  border: none;
}
